<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ICARO Automatización de pruebas">
    <test name="Prueba de Matemática">
        <classes>
            <class name="ar.org.icaro.automatizacion.clase08.PruebaSuma">
                <methods>
                    <include name="validaSumaCero"/>
                </methods>
            </class>
            <class name="ar.org.icaro.automatizacion.clase08.PruebaSoldado"/>
        </classes>
    </test>
</suite> <!-- Suite -->